# Twitter Sentiment Analysis
## Gabriel Marcellino

## Import Library

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

/Users/gabrielmarcellinojoestiawan/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/gabrielmarcellinojoestiawan/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Load the Data

In [2]:
pretrain = pd.read_csv('twitter_training.csv')
pretrain.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [3]:
validation = pd.read_csv('twitter_validation.csv')
validation.head()

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣"
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I’ve had Madeleine McCann in my cel...

notice that there are no columns name in here. The columns use the value instead

In [4]:
# Store the value and add the columns
columns = ['Tweet ID','Entity','Sentiment','Tweet Content']
dumpcol = pretrain.columns
pretrain.columns = columns

# Insert the columns
pretrain.loc[-1] = dumpcol
pretrain.index = pretrain.index + 1
pretrain.sort_index(inplace=True)

dumpcol = validation.columns
validation.columns = columns

validation.loc[-1] = dumpcol
validation.index = validation.index + 1
validation.sort_index(inplace=True)

In [5]:
validation

,Tweet ID,Entity,Sentiment,Tweet Content
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...
...,...,...,...,...
995,4891,GrandTheftAuto(GTA),Irrelevant,⭐️ Toronto is the arts and culture capital of ...
996,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
997,2652,Borderlands,Positive,Today sucked so it’s time to drink wine n play...
998,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
999,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

now the dataset has columns

In [6]:
pretrain.head()

,Tweet ID,Entity,Sentiment,Tweet Content
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

## Dataset Information

In [7]:
pretrain.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74682 entries, 0 to 74681
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tweet ID       74682 non-null  object
 1   Entity         74682 non-null  object
 2   Sentiment      74682 non-null  object
 3   Tweet Content  73996 non-null  object
dtypes: object(4)
memory usage: 2.8+ MB

In [8]:
pretrain.describe()

,Tweet ID,Entity,Sentiment,Tweet Content
count,74682,74682,74682,73996
unique,12448,32,4,69491
top,5203,TomClancysRainbowSix,Negative,"At the same time, despite the fact that there ..."
freq,6,2400,22542,172

In [9]:
pretrain.isna().sum()

Tweet ID           0
Entity             0
Sentiment          0
Tweet Content    686
dtype: int64

## EDA

drop tweet ID because there is no need for prediction

In [10]:
pretrain.drop('Tweet ID',axis=1,inplace=True)

In [11]:
pretrain.Sentiment.value_counts()

Sentiment
Negative      22542
Positive      20832
Neutral       18318
Irrelevant    12990
Name: count, dtype: int64

example tweet for each sentiment

In [12]:
# Negative Sentiment
pretrain.loc[pretrain.Sentiment == 'Negative','Tweet Content']

24       the biggest dissappoinment in my life came out...
25       The biggest disappointment of my life came a y...
26       The biggest disappointment of my life came a y...
27       the biggest dissappoinment in my life coming o...
28       For the biggest male dissappoinment in my life...
                               ...
74665           Nvidia really delayed the 3070 by 2 weeks.
74666                    Nvidia did delay by 3070 2 weeks.
74667        Nvidia really delayed the 3070 several weeks.
74668    Nvidia really only delayed the 3070 2 flight w...
74669              Nvidia really delayed the next 2 weeks.
Name: Tweet Content, Length: 22542, dtype: object

In [13]:
# Positive Sentiment
pretrain.loc[pretrain.Sentiment == 'Positive','Tweet Content']

0        im getting on borderlands and i will murder yo...
1        I am coming to the borders and I will kill you...
2        im getting on borderlands and i will kill you ...
3        im coming on borderlands and i will murder you...
4        im getting on borderlands 2 and i will murder ...
                               ...
74677    Just realized that the Windows partition of my...
74678    Just realized that my Mac window partition is ...
74679    Just realized the windows partition of my Mac ...
74680    Just realized between the windows partition of...
74681    Just like the windows partition of my Mac is l...
Name: Tweet Content, Length: 20832, dtype: object

In [14]:
# Neutral Sentiment
pretrain.loc[pretrain.Sentiment == 'Neutral','Tweet Content']

12       Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM...
13       Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM...
14       Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM...
15       Rock-Hard La Vita, RARE BUT POWERFUL, HANDSOME...
16       Live Rock - Hard music La la Varlope, RARE & t...
                               ...
74659    Nvidia plans to release its 2017 "Crypto Craze...
74660    Nvidia does not want to give up its "cryptoins...
74661    Nvidia doesn’t intend to give away its 2017 ad...
74662    Nvidia therefore doesn ’ t want to give up its...
74663    is doesn’t should I give up its password ‘cryp...
Name: Tweet Content, Length: 18318, dtype: object

In [16]:
# Irrelevant Sentiment
pretrain.loc[pretrain.Sentiment == 'Irrelevant','Tweet Content'].iloc[0]

'Appreciate the (sonic) concepts / praxis Valenzuela and Landa-Posas thread together in this talk: multimodal listening, soundwalks, borderlands frameworks, participatory action research, and testimonios. . . So many thoughtful and resonant intersections here.. .  '